<div class="col-md-2 sidebar" style="background-color: #4E2822;">
    <p class="">
        <a href="/customer/home" class="text-custom-color">
            <i class="fas fa-home"></i>
            Home
        </a>
    </p>
    <hr>
    <p class="text-primary">
        <a href="/customer/profile" class="text-custom-color">
            <i class="fas fa-user"></i>
            Profile
        </a>
    </p>
    <hr>
    <p class="">
        <a href="/customer/books" class="text-custom-color">
            <i class="fas fa-book"></i>
            Books
        </a>
    </p>
</div>
