<div class="col-md-2 sidebar" style="background-color: #4E2822;">
    <p class="">
        <a href="/admin/home" class="text-custom-color">
            <i class="fas fa-home icon-custom-color"></i>
            <span class="text-custom-color">Home</span>
        </a>
    </p>
    <hr>
    <p class="text-primary">
        <a href="/admin/profile" class="text-custom-color">
            <i class="fas fa-user icon-custom-color"></i>
            <span class="text-custom-color">Profile</span>
        </a>
    </p>
    <hr>
    <p class="text-primary">
        <a href="/admin/customers" class="text-custom-color">
            <i class="fas fa-users icon-custom-color"></i>
            <span class="text-custom-color">Customers</span>
        </a>
    </p>
    <hr>
    <p class="text-primary">
        <a href="/admin/books" class="text-custom-color">
            <i class="fas fa-book icon-custom-color"></i>
            <span class="text-custom-color">Books</span>
        </a>
    </p>
</div>
